---
# The following parameters are required.
db: ./xbs.sqlite3
port: 8090
# The following parameters are optional.
#sslport: 8453
#key: /etc/letsencrypt/live/www.example.com/privkey.pem
#cert: /etc/letsencrypt/live/www.example.com/fullchain.pem
log: ./xbs.log
loglevel: ERROR
#version: 1.1.13
#maxsyncsize: 1048576
# status: 1 = Online; 2 = Offline; 3 = Not accepting new syncs.
#status: 1
#message: This is Xbs, a Crystal implementation of the xBrowserSync API
