# To start xbs as a system service, edit this file as necessary,
# and copy it to /etc/systemd/system/xbs.service .
# Then run the following commands to start the xbs service:
#   systemctl enable xbs
#   systemctl daemon-reload
#   systemctl start xbs

[Unit]
Description = Xbs xBrowserSync API server
After = network.target

[Service]
WorkingDirectory = /root/xbs
ExecStart = /root/xbs/xbs
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
