---
# The following parameters are required.
providers:
  - gb
  - ol
db: ./cover.sqlite3
port: 8090
# The following parameters are optional.
#sslport: 8453
#key: /etc/letsencrypt/live/www.example.com/privkey.pem
#cert: /etc/letsencrypt/live/www.example.com/fullchain.pem
#log: ./cover.log
#loglevel: debug
